<.modal
  :if={@live_action in [:new, :edit]}
  id="cms_page-modal"
  show
  on_cancel={JS.patch(~p"/cms/cms_pages")}
>
  <.live_component
    module={GlorioCmsWeb.CmsPageLive.FormComponent}
    id={@cms_page.id || :new}
    title={@page_title}
    action={@live_action}
    cms_page={@cms_page}
    patch={~p"/cms/cms_pages"}
  />
</.modal>
