<div class="h-screen">
  <.live_component
    id="app-layout-component"
    module={ScalesCmsWeb.Live.AppLayoutComponent}
    inner_flash={@flash}
    sidebar_open={Map.get(assigns, :sidebar_open, true)}
    current_uri={Map.get(assigns, :current_uri, "")}
  >
    <div>
      {@inner_content}
    </div>
  </.live_component>
</div>
