<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Phoenix Framework">
      {assigns[:page_title] || "ScalesCms"}
    </.live_title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href={cms_asset_path(@conn, :css)} />
    <script src={cms_asset_path(@conn, :js)} defer>
    </script>

    <link :if={has_custom_css()} rel="stylesheet" href={custom_asset_path(:css)} />
    <script :if={has_custom_js()} src={custom_asset_path(:js)} defer>
    </script>

    <%!-- <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} /> --%>
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/trix@2.0.8/dist/trix.css" />

    <%!-- <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script> --%>
  </head>
  <body class="bg-white">
    {@inner_content}
  </body>
</html>
