<.modal id="cms_page-modal">
  <.live_component
    :if={@cms_page}
    module={ScalesCmsWeb.CmsPageLive.FormComponent}
    id={@cms_page.id || :new}
    title={@page_title}
    action={@live_action}
    cms_page={@cms_page}
    patch={~p"/cms/pages"}
  />
</.modal>
