<div>
  <div class="mb-4">
    <.label>{gettext("Image")}</.label>
    <div class="w-[200px] h-[200px] mb-2">
      <img
        :if={Map.get(@button || %{}, "image_path", nil) != nil}
        src={S3Upload.get_presigned_url_for_display(Map.get(@button, "image_path", nil))}
        class="object-cover"
      />
    </div>

    <.media_library_button
      modal_id={"media-library-modal-#{@block.id}-#{@index}-modal"}
      type="image"
      disabled={@disabled}
    />
  </div>

  <.live_component
    module={MediaLibraryModal}
    id={"media-library-modal-#{@block.id}-#{@index}"}
    filter_type="image"
    target={@myself}
  />

  <.simple_form
    id={"button-form-#{@index}-#{@block.id}"}
    for={@form}
    phx-change="store-properties"
    phx-target={@myself}
    phx-value-index={@index}
  >
    <.input
      id={"title-#{@index}-#{@block.id}"}
      type="text"
      field={@form[:title]}
      label="Title"
      phx-debounce="400"
      disabled={@disabled}
    />
    <.input
      id={"subtitle-#{@index}-#{@block.id}"}
      type="text"
      field={@form[:subtitle]}
      label="Subtitle"
      phx-debounce="400"
      disabled={@disabled}
    />

    <.input
      id={"icon-#{@index}-#{@block.id}"}
      type="text"
      field={@form[:icon]}
      label="Icon"
      phx-debounce="400"
      disabled={@disabled}
    />

    <.live_component
      id={"page-input-#{@block.id}-#{@index}"}
      module={ScalesCmsWeb.Components.HelperComponents.PageSearch}
      field={@form[:page_id]}
      field_id={"page-input-#{@block.id}-#{@index}"}
      disabled={@disabled}
    />

    <.input
      id={"url-#{@index}-#{@block.id}"}
      type="text"
      field={@form[:url]}
      label="URL"
      phx-debounce="400"
      disabled={@disabled}
    />
    <.input
      id={"payload-#{@index}-#{@block.id}"}
      type="text"
      field={@form[:payload]}
      label="Payload"
      phx-debounce="400"
      disabled={@disabled}
    />
  </.simple_form>
</div>
