<div>
  <.live_component
    id={"head-#{@block.id}"}
    module={BlockWrapper}
    block={@block}
    component={ScalesCmsWeb.Components.CmsComponents.Image}
    published={@published}
  >
    <div class="flex items-start gap-4">
      <img
        :if={Map.get(@block.properties || %{}, "image_path", nil) != nil}
        src={
          S3Upload.get_presigned_url_for_display(
            Map.get(@block.properties || %{}, "image_path", nil)
          )
        }
        class="max-w-[200px] max-h-[200px] object-cover rounded-lg"
      />

      <.media_library_button target={@myself} type="image" disabled={@published} />
    </div>

    <.live_component
      :if={@show_media_library}
      module={MediaLibraryModal}
      id={"media-library-modal-#{@block.id}"}
      filter_type="image"
      target={@myself}
    />
  </.live_component>
</div>
