<div>
  <.live_component
    id={"head-#{@block.id}"}
    module={BlockWrapper}
    block={@block}
    component={ScalesCmsWeb.Components.CmsComponents.Lottie}
  >
    <div class="flex">
      <dotlottie-wc
        :if={Map.get(@block.properties || %{}, "lottie_path", nil) != nil}
        src={
          S3Upload.get_presigned_url_for_display(
            Map.get(@block.properties || %{}, "lottie_path", nil)
          )
        }
        background="transparent"
        speed="1"
        style="width: 300px; height: 300px"
        class="max-w-[200px] max-h-[200px] object-cover mr-[24px]"
        direction="1"
        playMode="normal"
        loop
        controls
        autoplay
      />

      <.media_library_button
        modal_id={"media-library-modal-#{@block.id}-modal"}
        type="lottie"
        disabled={@disabled}
      />
    </div>

    <.simple_form for={@form} phx-change="store-properties" phx-target={@myself}>
      <.input
        type="text"
        field={@form[:title]}
        label="Title"
        phx-debounce="400"
        disabled={@disabled}
      />
      <.input
        type="text"
        field={@form[:subtitle]}
        label="Subtitle"
        phx-debounce="400"
        disabled={@disabled}
      />

      <div class="my-2">
        <.input type="checkbox" field={@form[:autoplay]} label="Autoplay" disabled={@disabled} />
        <.input type="checkbox" field={@form[:looping]} label="Looping" disabled={@disabled} />
      </div>
    </.simple_form>
  </.live_component>

  <.live_component
    id={"media-library-modal-#{@block.id}"}
    module={MediaLibraryModal}
    filter_type="lottie"
    target={@myself}
  />
</div>
