<div class="container">
  <.header class="mt-12 mb-4">
    Cms handleiding
  </.header>

  <a
    href="https://docs.google.com/document/d/13SaI5-D5cV8QgobgiA5ZPDYEu8c0jz4G_R-QDvUcJxQ/edit?usp=sharing"
    class="underline text-blue-500"
  >
    handleiding
  </a>
</div>
