<div class="container">
  <.header class="mb-8">
    {gettext("Dashboard")}
    <:subtitle>
      {gettext("Welcome to the CMS. Select an option below to get started.")}
    </:subtitle>
  </.header>

  <ScalesCmsWeb.Components.DashboardTiles.render class="mb-8" />
</div>
