<div>
  <.live_component
    id={"head-#{@block.id}"}
    module={BlockWrapper}
    block={@block}
    component={ScalesCmsWeb.Components.CmsComponents.ImageButton}
    published={@published}
  >
    <div class="mb-4">
      <div class="w-[200px] h-[200px] mb-2">
        <img
          :if={Map.get(@block.properties || %{}, "image_path", nil) != nil}
          src={
            S3Upload.get_presigned_url_for_display(
              Map.get(@block.properties || %{}, "image_path", nil)
            )
          }
          class="object-cover"
        />
      </div>

      <.media_library_button
        modal_id={"media-library-modal-#{@block.id}-modal"}
        type="image"
        disabled={@disabled}
      />
    </div>

    <.live_component
      module={MediaLibraryModal}
      id={"media-library-modal-#{@block.id}"}
      filter_type="image"
      target={@myself}
    />

    <.simple_form for={@form} phx-change="store-properties" phx-target={@myself}>
      <.input
        type="text"
        field={@form[:title]}
        label="Title"
        disabled={@disabled}
        phx-debounce="400"
      />
      <.input
        type="text"
        field={@form[:subtitle]}
        label="Subtitle"
        disabled={@disabled}
        phx-debounce="400"
      />
      <.input
        type="text"
        field={@form[:icon]}
        label="Icon"
        disabled={@disabled}
        phx-debounce="400"
      />

      <.live_component
        id={"page-input-#{@block.id}"}
        module={ScalesCmsWeb.Components.HelperComponents.PageSearch}
        field={@form[:page_id]}
        disabled={@disabled}
      />

      <.input
        type="text"
        field={@form[:url]}
        label="URL"
        disabled={@disabled}
        phx-debounce="400"
      />
      <.input
        type="textarea"
        field={@form[:payload]}
        label="Payload"
        disabled={@disabled}
        phx-debounce="400"
      />
    </.simple_form>
  </.live_component>
</div>
