<div>
  <.live_component
    id={"head-#{@block.id}"}
    module={BlockWrapper}
    block={@block}
    component={ScalesCmsWeb.Components.CmsComponents.ImageButton}
    published={@published}
  >
    <div class="mb-4">
      <img
        :if={Map.get(@block.properties || %{}, "image_path", nil) != nil}
        src={
          S3Upload.get_presigned_url_for_display(
            Map.get(@block.properties || %{}, "image_path", nil)
          )
        }
        class="max-w-[200px] max-h-[200px] object-cover mb-2"
      />

      <.media_library_button target={@myself} type="image" disabled={@published} />
    </div>

    <.live_component
      :if={@show_media_library}
      module={MediaLibraryModal}
      id={"media-library-modal-#{@block.id}"}
      filter_type="image"
      target={@myself}
    />

    <.simple_form for={@form} phx-submit="store-properties" phx-target={@myself}>
      <.input type="text" field={@form[:title]} label="Title" disabled={@published} />
      <.input type="text" field={@form[:subtitle]} label="Subtitle" disabled={@published} />
      <.input type="text" field={@form[:icon]} label="Icon" disabled={@published} />

      <.live_component
        id={"page-input-#{@block.id}"}
        module={ScalesCmsWeb.Components.HelperComponents.PageSearch}
        field={@form[:page_id]}
        disabled={@published}
      />

      <.input type="text" field={@form[:url]} label="URL" disabled={@published} />
      <.input type="textarea" field={@form[:payload]} label="Payload" disabled={@published} />

      <:actions>
        <.button :if={!@published} phx-disable-with="Saving..." class="btn-secondary">
          {gettext("Save")}
        </.button>
      </:actions>
    </.simple_form>
  </.live_component>
</div>
