<div>
  <aside
    id="default-sidebar"
    class="fixed top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0 bg-slate-200"
    aria-label="Sidebar"
  >
    LOGO
  </aside>
  <main class="p-4 sm:ml-64">
    <.flash_group flash={@flash} />
    <%= @inner_content %>
  </main>
</div>
